* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-image: url(./bgc_1.jpg);
    background-size: 100% 100%;
    text-align: center;
}
.header {
    background: linear-gradient(to right, #223102, #4e6c07a9);
    padding: 30px;
    color: rgb(244, 251, 203);
    font-size: 28px;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
   
}
.nav {
    background: #2431069c;
    padding: 15px;
    margin-top: 40px;
}
.nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
}
.nav a:hover {
    color: #e7d80d;
    transform: scale(1.1);
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 40px;
    max-width: 1200px;
    margin: auto;
}
.service-box {
    background: rgb(244, 251, 203);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.service-box:hover {
    background-color: #171e03;
    transform: scale(1.05);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    color: white;
}
.center-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
}
.footer {
    background: #223102d2;
    color: white;
    padding: 20px;
    margin-top: 40px;
}
